@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan opsional agar font dan background lebih rapi */
body {
  font-family: 'Inter', system-ui, sans-serif;
  @apply bg-slate-50 text-slate-800;
}